.navbar {
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  z-index: 100;
  transform: scale(1);
  transform-origin: top-left;
}

.svg-container {
  background-color: lightyellow;
  width: fit-content;
  height: fit-content;
  margin-top: 7vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 0;
  overflow: auto;
  touch-action: auto;
}

.svg {
  width: auto;
  height: auto;
  padding: 0;
  position: relative;
}

.canvas {
  width: 100vw;
  height: auto;
  background-color: lightyellow;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  align-content: center;
}

.option {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: #77b178;
  margin-bottom: 8px;
  cursor: pointer;
}

.option-clicked {
  width: 3.5rem;
  height: 3.5rem;
  scale: 0.9;
  border-radius: 50%;
  background-color: #619162;
  margin-bottom: 8px;
  cursor: pointer;
}